

.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #8490c8;
}

.header {
    background: #fffac2;
    color: #8490c8;
    padding: 1rem 0;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 1rem;
}

.nav ul li a {
    color: #8490c8;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 3rem;
    background: #fffac2;
    color: #8490c8;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}
・align-center{
    text-align: center;
}
・font-english {
    font-family: 'Philosopher' ,sans-serif;
    font-weight: normal;
}


・page-header {
    padding-top: 5rem;
}
・logo {
    width: 210px;
}